.idea
data
/__pycache__
/utils/__pycache__
/coefs_process
*.png
prompt.txt
/tests/__pycache__
/tests/integration/__pycache__
/diser/core/__pycache__
/diser/__pycache__
/diser/io/__pycache__
*.npy
/diser/viz/__pycache__
/scripts/__pycache__
*.pkl
*.html
*.svg
/output
